@page "/students"
@using RihalChallenge.Client.Store
@using RihalChallenge.Client.Store.Students.DeleteStudent
@using RihalChallenge.Client.Store.Students.GetStudents
@inject IDispatcher Dispatcher
@inject IState<StateStore> StateStore


<PageTitle>Students</PageTitle>

<h1>students List</h1>
<NavLink href="add-student">Add student</NavLink>
@if ((bool)StateStore.Value.IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <table class="table">
        <thead>
        <tr>
            <th>StudentId</th>
            <th>Name</th>
            <th>Class</th>
            <th>Country</th>
            <th>Day of Birth</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in StateStore.Value.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.StudentName</td>
                <td>@student.ClassName</td>
                <td>@student.CountryName</td>
                <td>@student.DayOfBirth</td>
                <td>
                    <button @onclick="() => DeleteStudent(student.Id)">❌</button>
                    
                    <NavLink href="@($"/update-student/{student.Id}")">📝</NavLink>
                </td>
            </tr>
        }
        </tbody>
    </table>

}

@code {
    
    protected override void OnInitialized()
    {
        //base.OnInitialized();
        Dispatcher.Dispatch(new GetStudentsAction());
        // Dispatcher.Dispatch(new GetCountriesAction());
        // Dispatcher.Dispatch(new GetClassesAction());
    }
    
    protected void DeleteStudent(Guid id)
    {
        Dispatcher.Dispatch(new DeleteStudentAction(id));
    }
}


